body{
    background-image: url('img/developermode.jpg');
    background-image: cover;
} 
.body{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .mainbody{
        /* position: relative; */
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 850px;
        height: 450px;
        background-color: rgba(255, 78, 78, 0.5); 
        backdrop-filter: blur(1px);
        border-radius: 10px;
        overflow: hidden;
        .head{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            height: 50px;
            background-color: rgba(20, 0, 71, 0.5);
            backdrop-filter: blur(-10px);
           .h1{
            display: flex;
            gap: 10px;
            .dot{
                
                width: 12px;
                height: 12px;
                background-color: rgb(255, 0, 0);
                border-radius: 50px;
               }
               #i{
                background-color: red;
               }
               #j{
                background-color: rgb(255, 115, 0);
               }
               #k{
                background-color: yellow;
               }
           }
        }
        .main{
            margin-top: 20px;
            display: flex;
            width: 300px;
            background-color: red;
            
            .s1{
                display: flex;
                align-items: center;
                justify-content: center;
                /* padding: 20px; */
                
                
                height: 40px;
                width: 150px;
                

            }
            #j2{
                margin-left: 40px;
                background-color: red;
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                width: 110px;
            }
            #k1{
                background-color: rgb(255, 153, 0);
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
            }
        }
    }
    .cmdout{
        color: white;
        max-height: 300px;
        overflow-y: auto;
        font-weight: 500;
    }
    .cmd{
        width: 700px;
        height: 339px;
        /* background-color: yellow; */
        display: flex;
        /* align-items: center; */
        justify-content: flex-start;
        span{
            margin-top: 10px;
            font-size: 20px;
            i{
                color: goldenrod;
                input{
                    font-size: 20px;
                    background-color:transparent; 
                    border: none;
                    outline: none;
                    width: 400px;
                    input::placeholder{
                        color: black;
                    }
                }
            }
        }
        #cmdd{
            display: none;
        }
    }
}

/* 
.dot:nth-child(2) {
    top: 50px;
    left: 50px;
}

.dot:nth-child(3) {
    top: 50px;
    right: 50px;
}

.dot:nth-child(4) {
    bottom: 50px;
    left: 50px;
} */




/* skills css */

.cont{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    .skil{
        .ran{
            display: flex;
            flex-wrap: wrap;
            border-radius: 10px;
            height: 15px;
            max-height: 15px;
            width: 700px;
            background-color: rgb(59, 59, 55);
            .skill-bar {
                height: 15px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                background-color: rgb(0, 179, 255);
                width: 0; /* Start at 0 width */
                transition: width 3s ease; /* Smooth transition for width */
            }
        .html{
            width: 560px;
            height: 15px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: rgb(0, 179, 255);
        }
        .css{
            width: 595px;
            height: 15px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: rgb(0, 179, 255);
        }
        .js{
            width: 490px;
            height: 15px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: rgb(0, 179, 255);
        }
        .java{
            width: 504px;
            height: 15px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: rgb(0, 179, 255);
        
        }
        .sql{
            width: 595px;
            height: 15px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: rgb(0, 179, 255);
        }
        }

        
        .icon{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            i{
                font-size: 20px;
            }
            h1{
                font-size: 20px;
            }
            /* #ht{
                color: yellow;
            }
            #css{
                color: blue ;
            }
            #js{
                color: yellow;
            }
            #java{
                
                color: aquamarine;
            } */
            #sql{
                font-size: 20px;
            }
            

        }
        
       
    }
}


/* contact css  */

.mail{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    a{
        font-size: 20px;
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: rgb(145, 110, 110);
    }
}